# Data files (too large for GitHub — see README for dataset source)
data/raw/*.csv
data/processed/*.csv

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
*.egg-info/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Power BI temp files
*.pbix.tmp
*.pbit

# IDE
.vscode/
.idea/

# Virtual environments
venv/
.env/
